.brand-logo{
    margin-left: 30px;
}

.sidenavSearch{
    padding-left:43px;
    padding-right: 15px;
}

input[type="search"] {
    height: 64px !important;
}

@media only screen and (max-width : 992px) {
    .brand-logo{
        margin-left: 10px;
    }
}
