.brand-logo{
    margin-left: 32px;
    margin-top: 13px;
    color: white;
}

.sidenavSearch{
    padding-left:43px;
    padding-right: 15px;
}

input[type="search"] {
    height: 64px !important;
}

.logoSq{
    position: relative;
    top:-5px;
    height: 50px;
}

.logoLn{
    position: relative;
    left:70px;
    visibility: visible;
    height: 40px;
}

@media only screen and (max-width : 992px) {
    .brand-logo{
        margin-left: 10px;
    }

    .logoLn{
        visibility: hidden;
    }
}

@media only screen and (max-width : 600px) {
    .logoSq{
        height:40px;
    }
}