.sidenav-fixed{
    width:220px;
}

@media only screen and (min-width : 993px) {
    .sidenavWrapper{
        top: 85px;
    }

    .sidenav.sidenav-fixed{
        width:210px;
        left:30px;
    }
}
